
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>{% block title %} {% endblock %}</title>
    <style>
     {% block css %} {% endblock %}

    </style>
  </head>
<body>
<div class="container">
    <div class=" py-5 text-center bg-secondary text-white">
        <h1 class="mb-3">UPLOAD IMAGE</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <input type="submit" class = "btn btn-danger"value="Upload">
        </form>
    </div>
    <div class="row">
        {% for x in img %}
        <div class="col-sm-4">
            <div class="card m-2">
                <img src="{{x.photo.url}}" class="card-img-top" height="200px">
                <div class="card-footer">
                    <small class="text-muted">
                            {{x.date}}
                    </small>
                </div>
            </div>

        </div>
        {% endfor %}

    </div>
</div>





     {% block body %} {% endblock %}

     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
{% block js %}

<script>

</script>
    {% endblock %}
</body>
</html>
